# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.log

# Environment
venv/
.env/
ENV/
*.env
*.env.* 
.env.example
pip-log.txt

# Django
db.sqlite3
/staticfiles/
/media/
/static/
/media_root/

# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Migrations Cache
**/migrations/
!**/migrations/__init__.py

# Byte-compiled
*.egg-info/
.eggs/
*.manifest
*.spec
*.dist-info

# JetBrains IDE
.idea/

# Cache
.cache/
.pytest_cache/
