<!DOCTYPE html>
<html>

<head>
    <title>Q1 Biodata</title>
</head>

<body>
    <h1>Biodata Form</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

    <h2>All Records</h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
        {% for p in people %}
        <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.age }}</td>
            <td>{{ p.email }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>